/* Screens adaptation */
@media only screen and (orientation: portrait) {
  .App {
    height: 100vw;
    width: 100vw;
  }
}

@media only screen and (max-height: 820px) and (min-height: 480px),
  (max-width: 590px) and (min-width: 480px) {
  h1 {
    font-size: 0.8rem;
  }
  #github-logo {
    width: 36px;
    transform: translate(-100%, 28%);
  }
}

@media only screen and (max-height: 480px), (max-width: 480px) {
  h1 {
    font-size: 0.6rem;
  }
  #github-logo {
    width: 32px;
    transform: translate(-100%, 28%);
  }
}
