/* Screens adaptation */
@media only screen and (orientation: portrait) {
  .App {
    height: 100vw;
    width: 100vw;
  }
}

@media only screen and (max-height: 500px), (max-width: 500px) {
  .scene {
    top: 11%;
    left: 13%;
    height: 74%;
    width: 74%;
    /* outline: 1px solid red; */
  }
  .footer {
    left: 15%;
    bottom: 0;
    width: 69%;
  }
}

@media only screen and (max-height: 820px) and (min-height: 480px),
  (max-width: 590px) and (min-width: 480px) {
  h1 {
    font-size: 0.8rem;
  }
  #github-logo {
    width: 36px;
    /* transform: translate(-100%, 28%); */
  }
  #codesandbox-logo {
    height: 28px;
  }
}

@media only screen and (max-height: 480px), (max-width: 480px) {
  h1 {
    font-size: 0.6rem;
  }
  #github-logo {
    width: 30px;
    transform: translate(0, 10%);
  }
  #codesandbox-logo {
    height: 20px;
  }
}
