.square-button,
.circle-button {
  position: absolute;
  z-index: 2;
  bottom: 6%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  /* border: 1px solid white; */
  color: white;
  background: black;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2),
    0px 0px 4px 0px rgba(255, 255, 255, 0.2);
  width: 8%;
  height: 8%;
  /* transform: translate(0, 100%); */
  transition: border-radius 0.5s;
}

.square-button,
.square-button::before {
  border-radius: 8%;
}

.circle-button {
  border-radius: 50%;
}
/* .circle-button::before {
  border-radius: 50%;
} */
