@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  --mdc-theme-primary: rgb(255, 255, 255);
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

.App {
  position: absolute;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vh;
  left: 50%;
  transform: translate(-50%);
  /* outline: 1px solid pink; */
}

.scene {
  position: absolute;
  top: 14vh;
  left: 16vh;
  /* outline: 1px solid red; */
}

.interactive-area {
  z-index: 2;
  position: absolute;
  user-select: none;
  transition: box-shadow 0.5s, border-radius 0.5s;
  box-shadow: 0px 0px 96px 9px rgba(255, 255, 255, 0.1),
    0px 0px 20px -10px rgba(255, 255, 255, 0.3);
  opacity: 1;
  height: 68vh;
  width: 68vh;

  animation-name: light-up;
  animation-duration: 3.6s;
  animation-delay: 0.7s;
}

.square {
  border-radius: 0;
}
.circle {
  border-radius: 100%;
}

.illumination {
}

.transition {
  box-shadow: 0px 0px 96px 9px rgba(255, 255, 255, 0.1),
    0px 0px 20px -10px rgba(255, 255, 255, 0.3),
    inset 0px 0px 24px 0px rgba(255, 255, 255, 0.2),
    inset 0px 0px 512px 128px rgba(255, 255, 255, 0.05),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.1);
}

@keyframes light-up {
  0% {
    box-shadow: 0px 0px 96px 9px rgba(255, 255, 255, 0.1),
      0px 0px 20px -10px rgba(255, 255, 255, 0.3),
      inset 0px 0px 0px -9px rgba(255, 255, 255, 0) inset 0px 0px 6px 0px rgba(255, 255, 255, 0);
  }
  35% {
    box-shadow: 0px 0px 96px 9px rgba(255, 255, 255, 0.1),
      0px 0px 20px -10px rgba(255, 255, 255, 0.3),
      inset 0px 0px 24px 0px rgba(255, 255, 255, 0.2),
      inset 0px 0px 512px 128px rgba(255, 255, 255, 0.05),
      inset 0px 0px 4px 0px rgba(255, 255, 255, 0.1);
  }
  70% {
    box-shadow: 0px 0px 96px 9px rgba(255, 255, 255, 0.1),
      0px 0px 20px -10px rgba(255, 255, 255, 0.3),
      inset 0px 0px 0px -9px rgba(255, 255, 255, 0),
      inset 0px 0px 6px 0px rgba(255, 255, 255, 0);
  }
}

/* Control panel styles */
.control-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
  bottom: -32px;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  user-select: none;
}
#depth {
  display: inline;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
  user-select: text;
  /* outline: 1px solid red; */
}
.square-option,
.circle-option {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0;
  border: 1px solid white;
  color: white;
}
.square-option {
  left: -8vh;
  width: 6vh;
  height: 6vh;
  transform: translate(-50%);
}
.circle-option {
  right: -8vh;
  width: 7vh;
  height: 7vh;
  border-radius: 9vh;
  transform: translate(50%);
}
.control-panel label {
  color: white;
}

/* Composition styles */
.composition-wrapper {
  position: relative;
  height: 68vh;
  width: 68vh;
}
.composition {
  position: absolute;
  transition: border-radius 0.5s;
  top: 0;
  left: 0;
  height: 68vh;
  user-select: none;
}
.transition-path {
  stroke: white;
  fill: transparent;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 1.51s;
  animation-timing-function: cubic-bezier(0.15, 0, 0.5, 0.6);
}
#transition-stroke-three {
  fill: white;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Caption styles */
#github-logo {
  position: absolute;
  bottom: 4vh;
  width: 48px;
  left: 84vh;
  transform: translate(-100%, 6%);
}
h1 {
  font-size: 1.2rem;
  line-height: 0;
  color: white;
}
.primitivo {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

#caption {
  position: absolute;
  left: 16vh;
  bottom: 4vh;
}

/* Screens adaptation */
@media only screen and (orientation: portrait) {
  .App {
    height: 100vw;
    width: 100vw;
    /* outline: 1px solid pink; */
  }

  .scene {
    top: 14vw;
    left: 16vw;
    /* outline: 1px solid red; */
  }
  .square-option {
    left: -8vw;
    width: 6vw;
    height: 6vw;
  }
  .circle-option {
    right: -8vw;
    width: 7vw;
    height: 7vw;
    border-radius: 9vw;
  }
  .interactive-area {
    height: 68vw;
    width: 68vw;
  }
  .composition-wrapper {
    height: 68vw;
    width: 68vw;
  }
  .composition {
    height: 68vw;
  }

  #github-logo {
    bottom: 4vw;
    left: 84vw;
  }

  #caption {
    left: 16vw;
    bottom: 4vw;
  }
}

@media only screen and (max-height: 820px) and (min-height: 480px),
  (max-width: 590px) and (min-width: 480px) {
  h1 {
    font-size: 0.8rem;
  }
  #github-logo {
    width: 36px;
    transform: translate(-100%, 28%);
  }
  #depth {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 480px), (max-width: 480px) {
  h1 {
    font-size: 0.6rem;
  }
  #github-logo {
    width: 32px;
    transform: translate(-100%, 28%);
  }
  #depth {
    font-size: 0.6rem;
  }
}
